# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# sonar golangci report
golangci-lint-report.xml

# Go workspace file
go.work
go.work.sum

# env file
.env

# JetBrains
./idea
*.iml

# VSCode
knobel-manager-service
**/__debug_**

# Firebase secret
firebaseServiceAccount.json

# Air Verse tmp folder
/tmp
