default_stages: [ pre-commit, pre-push ]
fail_fast: false
default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
      - id: forbid-submodules
      - id: check-added-large-files
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.4
    hooks:
      - id: mbake-format
        args: [ "--config", ".bake.toml" ]
      - id: mbake-validate
        args: [ "--config", ".bake.toml" ]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
        name: "Lint GitHub Workflows"
        files: \.github/workflows/.*\.(yml|yaml)$
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.5.0
    hooks:
      - id: sqlfluff-fix
  - repo: https://github.com/python-openapi/openapi-spec-validator
    rev: 0.7.2
    hooks:
      - id: openapi-spec-validator
        files: ^openapi/openapi\.ya?ml$
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        name: Lint Dockerfiles
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        files: \.(md|markdown|mdown)$
        args: [ "--disable=MD013", "--disable=MD033" ]

  - repo: local
    hooks:
      - id: govulncheck
        name: govulncheck
        stages: [ pre-commit ]
        description: Check for vulnerabilities in dependencies
        entry: go
        args: [ "tool", "govulncheck", "./..." ]
        language: system
        types: [ go ]
        pass_filenames: false

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint-config-verify
        stages: [ pre-commit ]
      - id: golangci-lint-full
        stages: [ pre-commit ]
  - repo: local
    hooks:
      - id: go-test
        name: go-test
        stages: [ pre-push ]
        description: Run all tests
        entry: make
        args: [ "test" ]
        language: system
        types: [ go ]
        require_serial: true
        pass_filenames: false
