DOMAIN=api.knobel-manager.de
ACME_EMAIL=you@example.com

DB_USER=knobel-manager
DB_PASSWORD=change-me
DB_NAME=knobel-manager

ENVIRONMENT=production
DB_MIGRATION_DIR=/home/appuser/db_migration

FIREBASE_SECRET=

IMAGE_TAG=main
