name: CI/CD Pipeline

on:
  workflow_dispatch:
    inputs:
      skipChecks:
        description: 'Skip lint and test checks (⚠️ use with caution!)'
        required: false
        type: boolean
        default: false
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "LICENSE"
      - ".vscode/**"
      - ".idea/**"
      - ".github/ISSUE_TEMPLATE/**"
      - ".gitignore"
      - ".editorconfig"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "LICENSE"
      - ".vscode/**"
      - ".idea/**"
      - ".github/ISSUE_TEMPLATE/**"
      - ".gitignore"
      - ".editorconfig"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  GOPROXY: https://proxy.golang.org,direct
  GOSUMDB: sum.golang.org

jobs:
  validate-openapi:
    name: Validate OpenAPI
    runs-on: ubuntu-latest
    permissions: { }
    if: ${{ github.event.inputs.skipChecks != 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: "**/go.sum"
          check-latest: true
          cache: true

      - name: Validate OpenAPI generated code
        run: make openapi-validate

  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    permissions: { }
    if: ${{ github.event.inputs.skipChecks != 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Cache npm packages
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: "**/go.sum"
          check-latest: true
          cache: true

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions: { }
    if: ${{ github.event.inputs.skipChecks != 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: "**/go.sum"
          check-latest: true
          cache: true

      - name: Run tests
        env:
          TESTCONTAINERS_RYUK_DISABLED: true
        run: make test

  go-report:
    name: Go Report
    runs-on: ubuntu-latest
    permissions: { }
    steps:
      - name: Trigger Go Report Card refresh
        run: |
          curl -i -X POST https://goreportcard.com/checks \
            -H 'Content-Type: application/x-www-form-urlencoded; charset=UTF-8' \
            -H 'Accept: application/json, text/javascript, */*; q=0.01' \
          --data "repo=github.com/${{ github.repository }}"
